.name {
  /* color: #589752; */
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  /* color: #1c7c54; */
}

p {
  /* color: #181818; */
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

h3,
h4,
h5 {
  /* color: #69BE67 !important; */
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  /* color: #0e5432 !important; */
  font-size: 30px !important;
  font-family: "Raleway", sans-serif !important;
}

.navbar-nav {
  font-family: "Raleway", sans-serif !important;
  padding: 12px;
}

header video {
  top: 20%;
  left: 50%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#indexVideo {
  position: relative;
  background-color: white;
  height: 700px;
  width: auto;
  /* overflow: hidden; */
}

#indexVideo video {
  position: absolute;
  display: block;
  min-width: 100%;
  height: 150%;
}

#otherVideo {
  position: relative;
  background-color: white;
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

#otherVideo video {
  position: absolute;
  max-width: 175%;
  height: auto;
}

@media screen and (min-width: 470px) {
  #headerTextBox {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (min-width: 470px) {
  #headerTextBox p {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  #headerTextBox {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 470px) {
  #headerTextBox p {
    font-size: 14px;
  }
}

#headerTextBox #aboutMe {
  margin: 5%;
}

#headerTextBox #interests {
  margin: 5%;
  font-style: italic;
}

@media screen and (min-width: 1000px) {
  #photo img {
    width: 200px;
    opacity: 0.9;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1000px) {
  #photo img {
    width: 150px;
    opacity: 0.9;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

@media screen and (max-width: 768px) {
  #photo img {
    display: none;
  }
}

footer {
  /* color: #0e5432; */
  font-family: "Raleway", sans-serif !important;
  font-size: 1.3em;
}

footer a img {
  height: 75px;
  width: auto;
  padding: 12px;
}
